@{
  Layout = "_Layout";
}

@using Pierre.Models;

<div class="container" id="treat-container1">
  <h1 id="title">Treats</h1>
  <hr />
  <ul class="flavor-list"> 

  @if (@Model.Count == 0)

  {
    <h3>There are no treats yet. </h3>
  }

  @foreach (Treat treat in Model)
  {
    <li>@Html.ActionLink($"{treat.TreatName}", "Details", new { id = treat.TreatId })</li>
  }
  </ul>
  <br />
  <button class="flavor-button" role="button">@Html.ActionLink("Add new treat", "Create")</button>

</div>