.body{
  align-items: center;

}

.protest-riot-regular {
  font-family: "Protest Riot", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#h1 {
  font-size: large;
}

#header-main a{
  font-family: "Protest Riot", sans-serif;
	font-weight: 800;
	font-style: normal;
	color:#A44A3F;
  transition: font-size 0.3s ease;
  
}
#header-main a:hover {
  font-size: 20px;
	color:#F19C79;

}

#header {
  background-image: url(../img/background.jpeg);
  background-position: center;
  margin: auto;
  text-align: center;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

#header a {
	font-family: "Protest Riot", sans-serif;
	font-weight: 800;
	font-style: normal;
	color:#A44A3F;
  transition: font-size 0.3s ease;
}
#header a:hover {
  font-size: 70px;
	color:#F19C79;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
#welcome{
  margin-right: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}


.flavor-button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.3s ease; 
}

.flavor-button:after {
  content: "";
  background-color: #f2ed86;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.flavor-button:hover:after {
  transform: translate(0, 0);
  top: 0px;
  left: 0px;
}

.flavor-button:active {
  background-color: #ffdeda;
  outline: 0;
  transform: scale(1.1);
}
.flavor-button a{
  text-decoration: none;
  color: black;
  
}
.flavor-button:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .flavor-button {
    padding: 13px 50px 13px;
  }
}

.btn a {
  text-decoration: none;
  color: black;
}
.btn a:hover{
  color:white;
}

#full-container {
  text-align: center;
}
#flavor-container {
  padding: 20px;
  text-align: center;
}
#treat-card {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 10px;
  margin-bottom: 25px;
  transition: transform 0.3s ease; 
  text-align: center;
}
#treat-card:hover {
  transform: scale(1.05); 
}
#treat-container {
  padding: auto;
  text-align: center;
}

#flavor-container2 {
  transition: transform 0.3s ease; 
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 15px;
  padding-bottom: 30px;
  margin-top:15px;
}
.flavor-list {
  list-style-type: none;
  padding: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  font-size: 19px;
  
}

.flavor-list li {
  margin-bottom: 15px;
}

.flavor-list li a {
  text-decoration: none; 
  color: black; 
  transform: scale(1);

}

.flavor-list li a:hover {
  color: #CBDFBD; 
  transform: scale(1.2);
  
}

#flavor-details {
  background-image: url(../img/background.jpeg);
  margin-top: 20px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
#buttonD {
  background-image: none;
  margin: 10px;
}
#title-details{
  font-family: "Protest Riot", sans-serif;
	font-weight: 800;
	font-style: normal;
	color: #F6F4D2;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;

}
#title{
  font-family: "Protest Riot", sans-serif;
	font-weight: 800;
	font-style: normal;
	color: #CBDFBD;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

#delete-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-align: center;
  width: 80%;
  margin: 40px;
  border: 1px solid #ccc;
  transition: transform 0.3s;
  border-radius: 5px;
  padding-bottom: 20px;
}
#delete-container:hover {
  transform: scale(1.05); 
}

.card-header {
  font-family: "Protest Riot", sans-serif;
  color: #A44A3F;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
#add-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-align: center;
  width: 80%;
  margin: 40px;
  border: 1px solid #ccc;
  transition: transform 0.3s;
  border-radius: 5px;
  padding-bottom: 20px;
  padding-top: 10px;
}

#treat-container1 {
  transition: transform 0.3s ease; 
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 15px;
  padding-bottom: 30px;
  margin-top:15px;

}

#title2{
  font-family: "Protest Riot", sans-serif;
	font-weight: 800;
	font-style: normal;
	color: #D4E09B;
  font-size: 70px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}
#account {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  text-align: center;
  width: 80%;
  margin: 40px;
  border: 1px solid #ccc;
  transition: transform 0.3s;
  border-radius: 5px;
  padding-bottom: 20px;
  
}
#account:hover {
  transform: scale(1.05); 
}



#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D4E09B;
  color: whitesmoke;
  text-align: center;
  padding: 10px 0;
}


